# Dependencies
node_modules
.pnp
.pnp.js

# Production build
dist
dist-ssr
*.tsbuildinfo

# Environment Variables
.env
.env.local
.env.*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
